
  <h2>Welcome Back {{user.local.screenName}}</h2>
  <p><a href="/user/{{user.id}}/edit">Edit Screen Name</a></p>
  <img src="/public/images/chef.png" alt ="Chef Image">
  <form id="user-delete" action="/user/{{user.id}}?_method=DELETE" method="POST">
  <input  class="input" type="submit" value="Remove account">
  </form>
  <section id="user">
  <p class="title">Cookbooks</p>
  {{#if user.cookbooks}}
    <div>
      {{#each user.cookbooks}}
         {{> 'cookbook'}}
      {{/each}}
    </div>
  {{else}}
    <p>No Cookbooks yet</p>
  {{/if}}
  <p class="title">Recipes</p>
  {{#if user.recipes}}
    <div>
      <a href="/user/{{currentUser._id}}/recipes">Recipes</a>
    </div>
  {{else}}
    <p>No Recipes yet</p>
  {{/if}}
  
</section>