<section class="recipe">
    <h2>{{recipe.name}}</h2>
    <h3>Ingredients</h3>
    {{#each recipe.ingredient}}
    <p>{{this}}</p>
    {{/each}}
    <h3>Directions</h3>
    <p>{{recipe.directions}}</p>
    <h3>Description</h3>
    <p>{{recipe.description}}</p>
    <h3>More Info</h3>
    <p>{{recipe.more}}</p>
    <h4>Posted by {{recipe.author.local.screenName}}</h4>
    <select id="addCB" onchange="getCB()">
        <option selected disabled hidden>Add to your cookbook</option>
        {{#each currentUser.cookbooks}}
        <option id={{@key}}>{{this}}</option>
        {{/each}}
    </select>
    <form action="/add/{{recipe.id}}" method="POST">
        <input class="input" type="submit" value="Add">
    </form>
{{#ifCond currentUser.id recipe.author.id}}
    <a href="/recipe/{{recipe.id}}/edit" class="edit">Edit</a>
</section> 
<form action="/recipe/{{recipe.id}}?_method=DELETE" method="POST">
  <input class="input delete" type="submit" value="Remove recipe">
  </form>
{{/ifCond}}
